:root {
    /*  Anchura mÃ¡xima del contenido en desktop */
    --max-width: 1200px;
    --block-spacing: 2rem;

}

.content-wrapper {
    width: calc(100% - 2rem);
    max-width: var(--max-width);
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
    .content-wrapper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}

.content-wrapper {
    display: flex;
    align-items: center;
    display: grid;
    gap: 20rem;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .services-section .content-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

}

.content-wrapper {
    position: relative;
    z-index: 10;
    display: grid;
    gap: 2rem;
    margin-bottom: var(--block-spacing);
}

@media screen and (min-width: 1024px) {
    .last-projects .content-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

}

.content-wrapper {
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 1024px) {
    .projects-section .content-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

}

.about-us .content-wrapper {
    display: grid;
    gap: var(--block-spacing);
    --max-width: 1100px;
}

.about-item {
    display: grid;
    gap: 1.5rem;
    text-align: center;
}

.about-item>div:first-of-type {
    order: 2;
}

@media screen and (min-width: 1024px) {
    .about-item:nth-child(odd)>div:nth-of-type(2) {
        order: 2;
    }

}

@media screen and (min-width: 1024px) {
    .about-item {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        text-align: left;
    }

}

.about-item img {
    border-radius: 0.5rem;
}

.image-container {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-section .content-wrapper {
    display: grid;
    gap: var(--block-spacing);
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .contact-section .content-wrapper {
        --max-width: 800px;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-fluid {
    border-radius: 10%;
}

.subtitle {
    font-size: 1.75rem;
    font-weight: 700;
}

.text-center {
    text-align: center;
    /* padding-bottom: 60px; */
    position: relative;
}

.text-center h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}


/* ------------------------- */
body-sv {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container-sv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card-sv {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.2s;
    border-left: 5px solid #5cb874;
}
.card-sv:hover {
    transform: scale(1.05);
}
h3-sv {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    color: #5cb874;
}
ul-sv {
    list-style-type: none;
    padding: 0;
}
li-sv {
    margin: 5px 0;
    text-align: left;
    color: #555;
}

